
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper-1 {
  text-align: center;
  margin-left: 30px;
}

.wrapper-2 {
text-align: center;
}

.wrapper-3 {
  text-align: center;
}
